{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
<h1>éditer la photo de profile</h1>
	{{form_start(form)}}
	{{form_rest(form)}}
	<input type="submit" value="modifié" class="btn btn-warning">
	{{form_end(form)}}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}